/*navigation*/
.navigation {
    background-color: var(--nav-bckg);
    color: var(--text);
    font-weight: bold;
    position: relative;
}

.navigation__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.navigation__logo {
    text-transform: uppercase;
    font-family: var(--bn);
    font-size: clamp(16px, 2vw, 40px);
    line-height: normal;
}

.navigation__hamburger-button {
    display: none;
}

.navigation__hamburger-button ~ label {
    display: none;
    cursor: pointer;
}

.navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 79px;
}

.navigation__list-item {
    font-size: 20px;
}

.navigation__list-item a:hover {
    color: var(--text-inactive);
}

.navigation__list-item a {
    cursor: pointer;
    color: var(--text);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

@media (max-width: 1000px) {
    .navigation {
        background-color: black;
    }

    .navigation__hamburger-button ~ label {
        display: block;
        color: lightgray;
        font-size: 2em;
    }

    .navigation__list {
        padding: 47px 0 300px 28px;
        background-color: black;
        position: absolute;
        top: 100%;
        right: 0;
        width: 198px;
        gap: 30px;
    }

    .navigation__hamburger-button:checked ~ label::before {
        content: 'X';
    }

    .navigation__hamburger-button:checked ~ .navigation__list {
        display: flex;
        flex-direction: column;
    }

    .navigation__hamburger-button:not(:checked) ~ label::before {
        content: '≡';
    }

    .navigation__hamburger-button:not(:checked) ~ .navigation__list {
        
        display: none;
    }
}

/*intro*/
.intro {
    padding-top: 200px;
    background-color: var(--blur-bckg);
    color: var(--text);
    text-align: center;
}

.intro__header {
    margin: 0;
    margin-bottom: 35px;
}

.intro__header span {
    text-transform: uppercase;
    display: block;
}

.intro__button  {
    margin-bottom: 300px;
}

.intro__button-stock {
    display: none;
}

@media(max-width: 600px) {
    .intro {
        background-color: unset;
        padding: 95px 30px 0;
        text-align: unset;
    }

    .intro__button {
        margin-bottom: 20px;
    }

    .intro__button-stock {
        display: block;
        background-color: transparent;
        border: solid 2px white;
        transition: color background-color 0.2s ease-in-out;
        margin-bottom: 63px;
    }

    .intro__button-stock:hover {
        background-color: white;
        color: black;
    }
}

/*gallery*/
.gallery {
    background-color: white;
    position: relative;
    margin-bottom: 166px;
}

.gallery__items {

}

.gallery__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gallery__image {
    object-fit: cover;
    width: 49vw;
    height: 100%;
}

.gallery__text {
    padding: 6.2vw 10vw 10.8vw 9.5vw;
}

.gallery__header {
    margin-bottom: 30px;
}

.gallery__paragraph:not(:last-child) {
    margin-bottom: 18px;
}

.gallery__management {
    position: absolute;
    width: 85px;
    display: flex;
    justify-content: space-between;
    right: 36.6vw;
    bottom: 6.14vw;
}

.gallery__button {
    background-color: transparent;
    border: none;
    transition: opacity 0.2s ease-in-out;
}

.gallery__button img {
    width: 16px;
    height: 30px;
}

.gallery__button:hover {
    opacity: 0.6;
}

.gallery__button--prev {

}

.gallery__button--next {

}

@media(max-width: 870px) {
    .gallery__text {
        padding: 5.2vw 8vw 8.8vw 4.5vw;
    }

    .gallery__management {
        right: 33.6vw;
        bottom: 1.3vw;
    }
}

@media(max-width: 730px) {
    .gallery {
        margin-bottom: 31px;
    }
}

@media(max-width: 600px) {
    .gallery__item {
        display: flex;
        flex-direction: column;
    }

    .gallery__image {
        width: 100%;
        height: 73vw;
    }

    .gallery__text {
        padding: 22px 30px 48px;
    }

    .gallery__management {
        right: unset;
        bottom: unset;
        top: 63vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .gallery__button {
        width: 29px;
        height: 29px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
    }

    .gallery__button img{
        width: 10px;
        height: 18px;
        position: relative;
        top: 2px;
    }
}

/*reviews*/
.reviews {
    position: relative;
}

.reviews__container {
    width: 72vw;
    margin: 0 auto;
    margin-bottom: 165px;
}

.reviews__header {
    color: white;
    margin-bottom: 35px;
}

.reviews__items {
    display: flex;
    gap: 35px;
}

.reviews__item {
    position: relative;
    flex: 1;
    padding: 1.6vw 2.9vw 2vw 1.4vw;
    background-color: white;
    display: flex;
    gap: 30px;
    min-height: 319px;
}

.reviews__image {
    object-fit: cover;
    width: 104px;
    height: 104px;
    border-radius: 50%;
}

.reviews__content {

}

.reviews__content-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 33px;
}

.reviews__user-name {

}

.reviews__stars {

}

.reviews__star {

}

.reviews__gray-star {
    display: none;
}

.reviews__text {

}

.reviews__button {
    background: transparent;
    border: none;
    position: absolute;
    top: 35%;
    transition: transform 0.2s ease-in-out;
}

.reviews__show-more {
    display: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.reviews__button:hover {
    transform: scale(1.1);
}

.reviews__button img {
    width: 92px;
    height: 162px;
}

.reviews__button--prev {
    left: 5%;
}

.reviews__button--next {
    right: 5%;
}

@media(max-width: 1250px) {
    .reviews__content-up {
        flex-direction: column;
        gap: 7px;
    }

    .reviews__container {
        width: 80vw;
    }

    .reviews__button img {
        width: 42px;
    }

    .reviews__button--prev {
        left: 2%;
    }

    .reviews__button--next {
        right: 2%;
    }
}

@media(max-width: 1080px) {
    .reviews__image {
        position: absolute;
    }

    .reviews__content-up {
        align-items: flex-start;
        margin-left: 14vw;
    }

    .reviews__user-name {
        margin-left: 6px;
    }
}

@media(max-width: 730px) {
    .reviews__button {
        display: none;
    }

    .reviews__container {
        margin-bottom: 30px;
    }

    .reviews__items {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .reviews__star {
        display: none;
    }

    .reviews__gray-star {
        display: block;
    }

    .reviews__image {
        width: 90px;
        height: 90px;
    }

    .reviews__item {
        padding: 26px 17px 29px 23px;
    }

    .reviews__user-name {
        width: 120px;
        font-size: 20px;
    }

    .reviews__content-up {
        align-items: flex-end;
    }

    .reviews__show-more {
        display: block;
    }
}

/*contacts*/
.contacts {
    display: flex;
    background-color: white;
}

.contacts__image {
    object-fit: cover;
    width: 50%;
    height: 36vw;
}

.contacts__right {
    width: 50%;
    padding-top: 9.3vw;
    padding-left: 9.4vw;
}

.contacts__content {
    margin-bottom: 50px;
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contacts__anchor {
    color: black;
}

